* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --main-text-color: #fff;
  --bio-bg-color: #141518;
  --bio-border-color: #495057;
  --about-bg-color: #0c0d0f;
  --main-color: #61dafb;
  --border-color: #999;
}

html {
  scroll-behavior: smooth;
}

#projects-section-title:target {
  scroll-margin-top: 0.8em;
}

#container {
  display: flex;
  flex-direction: row;
  color: var(--main-text-color);
}

#bio-container {
  flex: 1 2 20%;
  width: 20%;
  text-align: center;
  padding: 30px 12px;
  background-color: var(--bio-bg-color);
  border-right: 5px solid var(--bio-border-color);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

#bio-container h2 {
  margin-bottom: 25px;
  font-weight: bold;
}

#bio-container p {
  margin-bottom: 20px;
}

#bio-image {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.highlight {
  color: var(--main-color);
}

#bio-container #welcome-text {
  font-weight: bold;
  font-size: 20px;
}

#social-container {
  display: flex;
  justify-content: space-around;
  list-style: none;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 25px;
  padding-bottom: 25px;
}

#social-container ion-icon {
  font-size: 35px;
  color: var(--main-color);
}

#email-container {
  display: flex;
  justify-content: center;
}

#email-container ion-icon {
  color: var(--main-color);
  font-size: 20px;
  margin-right: 5px;
  max-width: 20px;
}

#email-container a {
  text-decoration: none;
  color: var(--main-text-color);
  max-width: 225px;
}

#social-container ion-icon:hover {
  color: var(--main-text-color);
  transition: 0.5s;
}

#about-container {
  flex: 1 1 80%;
  height: 100%;
  background-color: var(--about-bg-color);
  padding: 50px;
  margin-left: 20%;
}

#name {
  font-size: 42px;
  margin-bottom: 15px;
}

#title {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: bold;
}

.description {
  max-width: 75%;
  margin-bottom: 10px;
  text-align: justify;
  line-height: 25px;
  font-size: 20px;
}

#developments {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

#btn-projects,
#btn-project {
  font-weight: bold;
  font-size: 16px;
  color: var(--about-bg-color);
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  text-decoration: none;
  transition: 0.5s;
  margin: 25px 0;
  padding: 12px 10px;
  width: 150px;
  text-align: center;
  display: flex;
}

#btn-project {
  padding: 0.5rem;
  margin: 0;
}

#btn-projects ion-icon,
#btn-project ion-icon {
  font-size: 20px;
  max-width: 20px;
  margin-right: 10px;
}

#btn-projects:hover,
#btn-project:hover {
  background-color: transparent;
  color: var(--main-text-color);
}

#skills-section-title,
#projects-section-title {
  border-top: 1px solid var(--border-color);
  padding-top: 20px;
  margin-bottom: 20px;
  font-size: 32px;
}

#skills-container,
#projects-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  margin-bottom: 25px;
  gap: 20px;
}

.skills-box {
  flex: 1 1 33%;
  max-width: 15%;
  height: auto;
  background-color: #141518;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 0.3rem;
}

.skills-box i {
  font-size: 60px;
}

.card {
  background-color: #141518;
  width: 416px;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-body {
  padding: 1rem;
  height: auto;
}

.card-title {
  color: #fff;
  margin-bottom: 0.8rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
}

.card-footer {
  padding: 1rem;
  border-top: 2px solid #1d1e21;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 61px;
  background-color: #141518;
}

.card-footer-img i {
  font-size: 35px;
}

.card-text {
  color: #64666b;
  line-height: 1.5rem;
  font-size: 18px;
}

@media (min-width: 320px) and (max-width: 425px) {
  #container {
    flex-direction: column;
    overflow: hidden;
    padding-bottom: 20px;
  }

  #bio-container {
    position: initial;
    width: 100%;
    border-right: 0;
  }

  #about-container {
    margin-left: 0;
  }

  #developments {
    width: 100%;
    flex-direction: column;
  }

  #btn-projects {
    width: 100%;
    justify-content: center;
  }

  #skills-container,
  #projects-container {
    flex-direction: row;
  }

  #about-container {
    padding: 20px;
  }

  .description {
    max-width: 100%;
  }

  #btn-projects {
    margin: 20px auto;
  }

  h2 {
    text-align: center;
  }

  #name {
    text-align: center;
  }

  .skills-box {
    max-width: 100%;
    text-align: center;
  }

  #about-container #title {
    text-align: center;
  }

  #about-container .mobile {
    text-align: center;
  }
}

@media (min-width: 426px) and (max-width: 1023px) {
  #container {
    flex-direction: column;
  }
}
